<app-navbar>
  <div class="container mt-4">
    <fieldset
      class="scheduler-border shadow-sm"
      *ngIf="
        isConsumoActivo && isContratoVigente && isConsumosDisponibles;
        else noActivo
      "
    >
      <legend class="scheduler-border font-usco-vt">Consumo</legend>
      <div class="row">
        <div class="col">
          <div class="reloj-digital p-2">
            {{ horaFecha | date : "dd/MM/yyyy HH:mm:ss" }} <br />
            {{ tipoServicio.nombre }}
          </div>
        </div>
        <div class="col">
          <div class="reloj-digital p-2">
            Alimentos consumidos <br />
            {{ consumosTiempoReal }}/{{ limiteConsumos }}
          </div>
        </div>
      </div>
      <hr />
      <fieldset class="scheduler-border shadow-sm">
        <legend class="scheduler-border font-usco-vt">Leer QR</legend>
        <div class="row text-center">
          <div class="col">
            <button class="btn btn-dark" extended (click)="switchCamera()">
              <i class="fa-solid fa-repeat"></i> |
              <i class="fa-solid fa-camera"></i>
            </button>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <zxing-scanner
              [(device)]="selectedDevice"
              [formats]="allowedFormats"
              (scanSuccess)="onScanSuccess($event)"
              (camerasFound)="onCamerasFound($event)"
              style="width: 240px; margin: auto"
            >
            </zxing-scanner>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="Código o ID estudiante"
                [(ngModel)]="codigo"
                (keyup.enter)="validarConsumo()"
              />
              <button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              class="btn btn-usco-vt btn-block"
              (click)="validarConsumo()"
            >
              <i class="fa-solid fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </fieldset>
    </fieldset>
    <fieldset
      class="scheduler-border shadow-sm"
      *ngIf="isConsumoActivo && isContratoVigente && isConsumosDisponibles"
    >
      <legend class="scheduler-border font-usco-vt">
        Datos del estudiante
      </legend>
      <div class="row">
        <div
          class="col-sm-3 text-center pt-4 mb-4"
          *ngIf="
            imagenURL ===
            'https://www.usco.edu.co/imagen-institucional/logo/precarga-usco.gif'
          "
        >
          <img src="{{ imagenURL }}" class="img-fluid" />
        </div>
        <div
          class="col-sm-3 text-center mb-4"
          *ngIf="
            imagenURL !==
            'https://www.usco.edu.co/imagen-institucional/logo/precarga-usco.gif'
          "
        >
          <img src="{{ imagenURL }}" class="img-fluid" />
        </div>
        <div class="col">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="2">Estudiante</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nombre:</th>
                <td>{{ estudiante.nombre }}</td>
              </tr>
              <tr>
                <th scope="row">Apellido:</th>
                <td>{{ estudiante.apellido }}</td>
              </tr>
              <tr>
                <th scope="row">Código estudiantil:</th>
                <td>{{ estudiante.codigo }}</td>
              </tr>
              <tr>
                <th scope="row">Identificación:</th>
                <td>{{ estudiante.id }}</td>
              </tr>
              <tr>
                <th scope="row">Programa:</th>
                <td>{{ estudiante.programa }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <ng-template #noActivo>
      <div class="alert alert-warning" role="alert">
        ¡El modulo no se encuentra habilitado en este momento!
      </div>
    </ng-template>
  </div>
</app-navbar>
