<app-navbar>
  <div class="container mt-4">
    <fieldset
      class="scheduler-border shadow-sm"
      *ngIf="
        isConsumoActivo && isContratoVigente && isConsumosDisponibles;
        else noActivo
      "
    >
      <legend class="scheduler-border font-usco-vt">Consumo</legend>
      <div class="row mb-2">
        <div class="col">
          <div class="reloj-digital p-2">
            {{ tipoServicio.nombre }} <br>
            <!--<span style="font-size: 16px;">{{ horaFecha | date : "dd/MM/yyyy" }}</span><br />-->
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <div class="reloj-digital p-2">
              Alimentos consumidos <br />
              {{ consumosTiempoReal }}/{{ limiteConsumos }}
            </div>
          </div>
          <div class="col">
            <div class="reloj-digital p-2">
              Gabus consumidos <br />
              {{ gabusConsumidos }}
            </div>
          </div>
       </div>

      <hr />
      <fieldset class="scheduler-border shadow-sm">
        <legend class="scheduler-border font-usco-vt">Leer QR</legend>
        <div class="row text-center">
          <div class="col">
            <button class="btn btn-dark" extended (click)="switchCamera()">
              <i class="fa-solid fa-repeat"></i> |
              <i class="fa-solid fa-camera"></i>
            </button>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <zxing-scanner
              [(device)]="selectedDevice"
              [formats]="allowedFormats"
              (scanSuccess)="onScanSuccess($event)"
              (camerasFound)="onCamerasFound($event)"
              style="width: 240px; margin: auto"
            >
            </zxing-scanner>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="Código o ID estudiante"
                [(ngModel)]="codigo"
                (keyup.enter)="validarConsumo()"
              />
              <button matSuffix mat-icon-button aria-label="Clear" (click)="this.codigo=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              class="btn btn-usco-vt btn-block"
              (click)="validarConsumo()"
            >
              <i class="fa-solid fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </fieldset>
    </fieldset>
    <fieldset
      class="scheduler-border shadow-sm"
      *ngIf="isConsumoActivo && isContratoVigente && isConsumosDisponibles"
    >
      <legend class="scheduler-border font-usco-vt">
        Datos del estudiante
      </legend>
      <div class="row">
        <div
          class="col-sm-3 text-center pt-4 mb-4"
          *ngIf="
            imagenURL ===
            'https://www.usco.edu.co/imagen-institucional/logo/precarga-usco.gif'
          "
        >
          <img src="{{ imagenURL }}" class="img-fluid" />
        </div>
        <div
          class="col-sm-3 text-center mb-4"
          *ngIf="
            imagenURL !==
            'https://www.usco.edu.co/imagen-institucional/logo/precarga-usco.gif'
          "
        >
          <img src="{{ imagenURL }}" class="img-fluid" />
        </div>
        <div class="col">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="2">Estudiante</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nombre:</th>
                <td>{{ estudiante.nombre }}</td>
              </tr>
              <tr>
                <th scope="row">Apellido:</th>
                <td>{{ estudiante.apellido }}</td>
              </tr>
              <tr>
                <th scope="row">Código estudiantil:</th>
                <td>{{ estudiante.codigo }}</td>
              </tr>
              <tr>
                <th scope="row">Identificación:</th>
                <td>{{ estudiante.id }}</td>
              </tr>
              <tr>
                <th scope="row">Programa:</th>
                <td>{{ estudiante.programa }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <ng-template #noActivo>
      <div class="alert alert-warning" role="alert">
        ¡El modulo no se encuentra habilitado en este momento!
      </div>
    </ng-template>

    <fieldset class="scheduler-border shadow-sm" *ngIf="isContratoVigente">
      <legend class="scheduler-border font-usco-vt">
        Historial de consumos del estudiante
      </legend>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
      <table
        [dataSource]="dataSource"
        mat-table
        matSort
        (matSortChange)="announceSortChange($event)"
        class="table table-hover shadow-sm"
      >
        <!-- Codigo Column -->
        <ng-container matColumnDef="codigo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by codigo"
          >
            Codigo
          </th>
          <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by fecha"
          >
            Fecha
          </th>
          <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
        </ng-container>

        <!-- Hora Column -->
        <ng-container matColumnDef="hora">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by hora"
          >
            Hora
          </th>
          <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
        </ng-container>

        <!-- Tipo servicio Column -->
        <ng-container matColumnDef="tipoServicio">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Tipo Servicio"
          >
            Tipo Servicio
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombreTipoServicio }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </fieldset>

  </div>
</app-navbar>
