<app-navbar>
  <div class="container mt-4">
    <fieldset class="scheduler-border shadow-sm">
      <legend class="scheduler-border font-usco-vt">
        Criterios de búsqueda
      </legend>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <mat-form-field
              color="accent"
              class="example-full-width custom-input"
              appearance="outline"
            >
              <mat-label>Fecha inicial</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                [(ngModel)]="fechaInicio"
              />
              <mat-hint>Día/Mes/Año</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <mat-form-field
              color="accent"
              class="example-full-width custom-input"
              appearance="outline"
            >
              <mat-label>Fecha final</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                [(ngModel)]="fechaFin"
              />
              <mat-hint>Día/Mes/Año</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--  <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Sede</mat-label>
            <mat-select>
              <mat-option class="p-2" value="1">Opción uno</mat-option>
              <mat-option class="p-2" value="2">Opción dos</mat-option>
              <mat-option class="p-2" value="3">Opción tres</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contrato</mat-label>
            <mat-select>
              <mat-option class="p-2" value="1">Opción uno</mat-option>
              <mat-option class="p-2" value="2">Opción dos</mat-option>
              <mat-option class="p-2" value="3">Opción tres</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Tipo de servicio</mat-label>
            <mat-select>
              <mat-option class="p-2" value="1">Opción uno</mat-option>
              <mat-option class="p-2" value="2">Opción dos</mat-option>
              <mat-option class="p-2" value="3">Opción tres</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Campo de búsqueda</mat-label>
              <input
                matInput
                (keyup)="filtrar($event)"
                #input
                maxlength="50"
                type="text"
                required
              />
              <button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
              <mat-hint align="end">{{ input.value.length }}/50</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-2 mt-2 text-center">
          <button
            class="btn btn-info"
            (click)="obtenerVentas()"
            [disabled]="!fechaInicio || !fechaFin"
          >
            <i class="fa-solid fa-magnifying-glass"></i> Buscar
          </button>
        </div>
      </div>
    </fieldset>
    <fieldset class="scheduler-border shadow-sm">
      <legend class="scheduler-border font-usco-vt">Reporte ventas</legend>
      <div class="row mb-2">
        <div class="col text-right">
          <button
            class="btn btn-success"
            [disabled]="(listadoVenta | json) == '[]'"
            (click)="reporteVentaExcel()"
          >
            <i class="fa-solid fa-table-cells"></i> Exportar
          </button>
        </div>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-hover shadow-sm text-center"
      >
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>No</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ dataSource.filteredData.indexOf(element) + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Identificacion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.personaIdentificacion }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">
            {{ element.personaNombre }}
          </td>
        </ng-container>
        <ng-container matColumnDef="gabu">
          <th mat-header-cell *matHeaderCellDef>Gabu</th>
          <td mat-cell *matCellDef="let element">
            {{ element.gabu }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef>Sede</th>
          <td mat-cell *matCellDef="let element">
            {{ element.sedeNombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="servicio">
          <th mat-header-cell *matHeaderCellDef>Servicio</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipoServicioNombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha | date : "dd-MM-yyyy" }} - {{ element.hora }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Canjeado</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.estado == 1">NO</span>
            <span *ngIf="element.estado == 0">SI</span>
          </td>
        </ng-container>
        <!-- No Data Row -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            No hay valores por el momento
          </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      ></mat-paginator>
    </fieldset>
    <br />
  </div>
</app-navbar>
