<!-- Image and text -->
<!-- <nav class="navbar bg-usco-vt text-center">
  <a class="navbar-brand" href="#">
    <img
      class="img-fluid"
      src="assets/universidad-surcolombiana-multicampos-white.png"
      style="width: 60%"
      alt="USCO"
    />
  </a>
</nav> -->

<div id="content-wrap" class="container mt-3 mb-5 text-center">
  <div class="row p-4" id="section1">
    <div class="col">
      <button
        class="btn btn-usco-vt mr-2"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        <i class="fa-solid fa-arrow-left"></i> Regresar</button
      ><a href="assets/ManualCarnetDigitalUsco.pdf" download>
        <button class="btn btn-usco-vt">
          <i class="fa-solid fa-download"></i> Descargar
        </button></a
      >
    </div>
  </div>
  <hr />
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h1
              class="font-usco-dafault font-weight-bold"
              style="color: #4d626c"
            >
              Manual módulo Carné Digital <br />
              Guía de uso
            </h1>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h2
              class="font-usco-dafault font-weight-bold"
              style="color: #4d626c"
            >
              Importante
            </h2>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/nav.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold"><u>Acceso al sistema</u></h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Como primera medida para acceder al sistema es necesario dirigirse
              al portal de la Universidad
              <a href="https://www.usco.edu.co/es/">www.usco.edu.co</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/portal.gif"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Como se ilustra en las imágenes anteriores, existen dos opciones
              para acceder al carné digital:
            </p>
            <ul>
              <li>
                La primera es el banner ilustrativo con la indicación "Sistema
                de acceso físico".
              </li>
              <li>
                La segunda opción se encuentra en la cinta gris ubicada en la
                parte superior derecha en el segundo ícono sentido derecha a
                izquierda, el cual representa un código QR.
              </li>
            </ul>
            <p>
              Presionando algunas de las dos opciones lo remite al aplicativo
              web del carné digital
              <a href="https://gaitana.usco.edu.co/carnet_digital"
                >https://gaitana.usco.edu.co/carnet_digital</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Instalación pwa (app nativa)</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Una
              <span class="font-usco-vt font-weight-bold"
                >Aplicación Web Progresiva</span
              >
              (PWA por sus siglas en inglés) es una aplicación web que utiliza
              tecnologías modernas para brindar una experiencia de usuario
              similar a la de una aplicación nativa. Una PWA combina lo mejor de
              las aplicaciones web y las aplicaciones móviles, permitiendo a los
              usuarios interactuar con la aplicación a través de su navegador
              web sin necesidad de instalarla desde una tienda de aplicaciones.
              <br />
              <span class="font-usco-vt font-weight-bold">Instalable:</span> Una
              PWA puede ser "instalada" en el dispositivo del usuario, lo que
              crea un acceso directo en la pantalla de inicio, similar a una
              aplicación nativa. Esto permite a los usuarios acceder rápidamente
              a la PWA sin necesidad de abrir un navegador y escribir una URL.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/iphone.jpg"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/android.jpg"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <p>
              Para la instalación de la aplicación web de manera nativa siga las
              instrucciones de la ventana emergente, en caso contrario que no se
              visualice por favor consultar en internet cómo instalar
              aplicaciones PWA según el modelo de su dispositivo.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Inicio de sesión</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/sesion.jpg"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El panel de inicio de sesión cuenta con dos casillas, la primera
              casilla para ingresar el usuario y la segunda casilla para digitar
              la contraseña con la cual accede al portal institucional.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="assets/clave.gif" alt="USCO" />
          </div>
        </div>
        <div class="row">
          <div class="col text-left">
            <p>
              En la parte inferior del panel de inicio de sesión encontrará dos
              opciones la primera opción
              <span class="font-usco-vt font-weight-bold"
                >¿Olvidó su contraseña?</span
              >
              permite a través de un formulario restaurar la contraseña de
              acceso para los módulos de la institución.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/usuario.gif"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row">
          <div class="col text-left">
            <p>
              Como segunda opción
              <span class="font-usco-vt font-weight-bold"
                ><i class="fa-solid fa-circle-info"></i> Tipos de usuario</span
              >
              despliega una ventana emergente donde detalla para cada estamento
              cómo está compuesto la nomenclatura de su usuario.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Menú inicial</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/menu.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              En la parte superior derecha en el ícono de tres líneas
              horizontales despliega un menú donde refleja los carnés que puede
              generar el usuario dependiendo de las vinculaciones que tenga
              activas, además como última opción está el cierre de sesión con el
              cual sale del aplicativo evitando dejar credenciales activas.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/cierre.gif"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Al presionar la foto que se encuentra en la parte superior
              izquierda del menú inicial despliega un cuadro en el cual refleja
              el nombre del usuario y un botón para cerrar la sesión.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/carnets.jpg"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Dependiendo del tipo de vinculación que tenga con la institución,
              podrá acceder a los diferentes carnés que comprenden los
              estamentos de la institución. <br /><br />
              La visualización del carné está desligado al usuario con el cual
              inicia sesión, es decir si accede como graduado pero también está
              vinculado laboralmente con la institución podrá tener acceso a
              ambos carnés desde el menú inicial. Los estamentos que componen la
              institución son: <br />
            </p>
            <ul>
              <li>Estudiante</li>
              <li>Estudiante virtual</li>
              <li>Estudiante intercambio</li>
              <li>Graduado</li>
              <li>Docente</li>
              <li>Administrativo</li>
            </ul>
            <p>
              Si por algún motivo no visualiza el carné o la información no
              corresponde a su perfil, por favor remitir un correo a la
              dependencia del Centro de Información, Tecnología y Control
              Documental o al Ingeniero encargado del módulo.
            </p>
            <ul>
              <li><a href="">ctic@usco.edu.co</a></li>
              <li><a href="">john.guerrero@usco.edu.co</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Carné digital</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/qr.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              En la parte inferior derecha se encuentran posicionados dos
              botones, el primer botón el cual tiene de símbolo un QR genera el
              código QR
              <button class="btn btn-dark" style="border-radius: 50%">
                <i class="fa-solid fa-qrcode"></i>
              </button>
              dinámico con el cual podrá identificarse como personada vinculada
              a la Universidad, este es un código único dinámico y de uso
              personal, cada día cambia el código de acceso por protección de
              datos y política de seguridad de la información.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/back.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El segundo botón el cual tiene de símbolo de flecha a la izquierda
              <button class="btn btn-dark" style="border-radius: 50%">
                <i class="fa-solid fa-arrow-left-long"></i>
              </button>
              regresa al menú inicial donde tiene a disposición los carnés según
              la vinculación del usuario.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Código QR</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/escaner.jpg"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Al escanear el código QR con cualquier dispositivo que cuente con
              una cámara web y conexión a internet podrá validar que es un
              código activo y verídico proporcionado por la institución.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/acceso.jpg"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              A través de un aplicativo a disposición de los guardias de
              vigilancia de la Institución podrán validar y hacer el registro de
              ingreso y salida de la institución de cualquier Sede o Subsede que
              acceda el usuario.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Tiquetes (personas no vinculadas con la institución)</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/tiquete.jpg"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Para las persona que no estén vinculadas a la Universidad, sean
              externas o que por términos de vigencia no estén matriculados o
              accedan a otros servicios de la institución como por ejemplo
              ILEUSCO, podrán solicitar con la oficina de carnetización o un
              vigilante la generación de un tiquete de acceso, existen dos tipos
              de tiquetes y la generación de ellos depende del trámite que se
              lleve a cabo dentro de las instalaciones de la Universidad.
            </p>
            <p>
              <span class="font-usco-vt font-weight-bold"
                >Tiquete de Invitado:</span
              >
              Se caracteriza por tener una vigencia en un intervalo de dos
              fechas, además de una foto el cual identifica a la persona.
            </p>
            <p>
              <span class="font-usco-vt font-weight-bold"
                >Tiquete Visitante:</span
              >
              Se caracteriza por tener una vigencia de un solo día y no tiene
              ningún anexo de foto, solo la información básica del visitante.
            </p>
            <p>
              Para la generación de cualquiera de los dos tiquetes se requiere
              de la siguiente información básica :
            </p>
            <ul>
              <li>Tipo de documento</li>
              <li>Número de documento</li>
              <li>Nombres completos</li>
              <li>Correo electrónico</li>
              <li>Subsede a la cual va a ingresar</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  <div class="row my-2 mt-4">
    <div class="col text-left">
      <button class="btn btn-usco-vt" style="width: 50%">
        <i class="fas fa-arrow-left"></i
        ><a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
          style="width: 50%"
          (click)="scrollToSection('section1')"
        >
          <span class="sr-only">Previous</span>
        </a>
      </button>
    </div>
    <div class="col text-right">
      <button class="btn btn-usco-vt" style="width: 50%">
        <i class="fas fa-arrow-right"></i
        ><a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
          style="width: 50%"
          (click)="scrollToSection('section1')"
        >
          <span class="sr-only">Next</span>
        </a>
      </button>
    </div>
  </div>
  <br />
</div>
<!-- <footer class="bg-usco-gr-d6">
  <p class="mt-2 font-weight-bold text-white">
    © {{ anio | date : "yyyy" }} CITCD - Version 1 Construcción 1.0
  </p>
</footer>
 -->
