<app-navbar>
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4" *ngFor="let link of links">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="link.ruta"
          #tooltip="matTooltip"
          [matTooltip]="link.info"
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            {{ link.titulo }}
          </h5>
          <i class="{{ link.icono }}"></i>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
