<app-navbar>
  <div id="content-wrap" class="container mt-3 mb-5 text-center">
    <button *ngIf="mobile" class="btn-flotante-usco" [routerLink]="['/inicio']">
      <i class="fa-solid fa-arrow-left-long fa-2x"></i>
    </button>
    <button *ngIf="mobile" class="btn-flotante-usco-dos" (click)="flipCard()">
      <i class="fa-solid fa-qrcode fa-2x"></i>
    </button>
    <!--VISTA ESCRITORIO-->
    <div class="container">
      <div class="card-body ls text-center" *ngIf="!mobile && foto.url != ''">
        <div class="row ml-5 mr-5 pl-5 pr-5">
          <div class="col ml-4 mr-4 pl-5 pr-5">
            <div
              class="card-usco-carnet-pc carnet-usco-body-pc shadow p-4"
              id="carnet-usco-rotulo-front"
            >
              <div class="row mt-4">
                <div class="col-md-4">
                  <div class="row text-center">
                    <div class="col">
                      <img
                        *ngIf="(administrativo | json) != '[]'"
                        src="{{ foto.url }}"
                        [alt]="persona[0].apellido"
                        [title]="persona[0].apellido"
                        class="card-img-top foto-usco-pc cursor-select"
                      />
                    </div>
                  </div>
                  <div class="row text-left">
                    <div class="col ml-2">
                      <small
                        *ngIf="(administrativo | json) != '[]'"
                        class="font-usco-default font-usco-gr font-weight-bold"
                      >
                        {{ persona[0].documento }}:
                        {{ administrativo[0].identificacion }}
                      </small>
                    </div>
                  </div>
                  <div class="row text-left">
                    <div class="col ml-2">
                      <small
                        *ngIf="(administrativo | json) != '[]'"
                        class="font-usco-vt font-weight-bold"
                      >
                        R.H: {{ persona[0].grupoSanguineo }}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 text-left p-0">
                  <div class="card-block">
                    <div class="row ml-2">
                      <div class="col">
                        <img
                          src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                          class="img-fluid div-usco-90"
                        />
                      </div>
                    </div>
                    <div class="row mt-4 ml-2">
                      <div class="col">
                        <small
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold text-uppercase"
                        >
                          {{ persona[0].nombre }} {{ persona[0].apellido }}
                          <span *ngIf="persona[0].codigo == 137556"
                            ><i class="fa-solid fa-heart"></i
                          ></span>
                        </small>
                      </div>
                    </div>
                    <div class="row ml-2">
                      <div class="col">
                        <small
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold text-uppercase"
                        >
                          {{ administrativo[0].nombrePrograma }}
                        </small>
                      </div>
                    </div>
                    <div class="row ml-2 mt-3">
                      <div class="col">
                        <small
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-default font-usco-vt font-weight-bold text-uppercase"
                        >
                          {{ administrativo[0].cargoNombre }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 ml-5 mr-5 pl-5 pr-5">
          <div class="col ml-4 mr-4 pl-5 pr-5">
            <div
              class="card-usco-carnet-pc carnet-usco-body-pc shadow p-4"
              id="carnet-usco-rotulo-back"
            >
              <div class="row mt-2">
                <div class="col">
                  <img
                    src="assets/universidad-surcolombiana-v.png"
                    class="img-fluid img-post-usco"
                  />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-4">
                  <div class="row text-center">
                    <div class="col mt-2">
                      <qrcode
                        [qrdata]="codigoQr"
                        [width]="150"
                        colorLight="#ffffff"
                        colorDark="#1E262B"
                        [errorCorrectionLevel]="'M'"
                      ></qrcode>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 text-left p-0">
                  <div class="card-block px-3">
                    <div class="row ml-2">
                      <div class="col mt-4">
                        <p
                          class="font-usco-default font-usco-bl font-weight-bold text-center pre leyenda"
                        >
                          {{ politicaAdministrativo[0].descripcion }}
                        </p>
                      </div>
                    </div>
                    <!-- <div class="row mt-1 ml-2 text-center">
                      <div class="col">
                        <img
                          src="{{ firma.url }}"
                          class="img-fluid div-usco-20"
                        />
                      </div>
                    </div>
                    <div
                      *ngIf="(rector | json) != '[]'"
                      class="row ml-2 text-center"
                    >
                      <div class="col">
                        <small
                          *ngIf="rector[0].persona.genero == 'M'"
                          class="font-usco-default font-weight-bold text-uppercase"
                        >
                          RECTOR
                        </small>
                        <small
                          *ngIf="rector[0].persona.genero == 'F'"
                          class="font-usco-default font-weight-bold text-uppercase"
                        >
                          RECTORA
                        </small>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--VISTA MOBILE-->
    <div class="row align-items-center" *ngIf="foto.url == ''">
      <div class="col">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <img src="assets/precarga-usco.gif" class="img-fluid" alt="USCO" />
      </div>
    </div>
    <div class="row" *ngIf="mobile && foto.url != ''">
      <div class="col">
        <div class="carnet" [class.flipped]="flipped" (click)="flipCard()">
          <div class="front">
            <div
              class="card-usco-carnet carnet-usco-body shadow p-4 text-center"
              id="carnet-usco-rotulo-front"
            >
              <div class="row mt-4">
                <div class="col-md-4">
                  <div class="row mb-3">
                    <div class="col">
                      <img
                        src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img
                        *ngIf="(administrativo | json) != '[]'"
                        src="{{ foto.url }}"
                        [alt]="persona[0].apellido"
                        [title]="persona[0].apellido"
                        class="card-img-top foto-usco cursor-select"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-8 mt-4">
                  <div class="card-block">
                    <div class="row mb-2">
                      <div class="col">
                        <small
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold text-uppercase"
                        >
                          {{ persona[0].nombre }} {{ persona[0].apellido
                          }}<span *ngIf="persona[0].codigo == 137556"
                            ><i class="fa-solid fa-heart"></i
                          ></span>
                        </small>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <h6
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold"
                        >
                          {{ persona[0].documento }}:
                          {{ administrativo[0].identificacion }}
                        </h6>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <small
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-vt font-usco-gr font-weight-bold"
                        >
                          R.H: {{ persona[0].grupoSanguineo }}
                        </small>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <small
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold text-uppercase"
                        >
                          {{ administrativo[0].nombrePrograma }}
                        </small>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <small
                          *ngIf="(administrativo | json) != '[]'"
                          class="font-usco-default font-usco-vt font-weight-bold text-uppercase"
                        >
                          {{ administrativo[0].cargoNombre }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="back">
            <div
              class="card-usco-carnet carnet-usco-body shadow p-4 mb-4 text-center"
              id="carnet-usco-rotulo-back"
            >
              <div class="row mt-2">
                <div class="col">
                  <img
                    src="assets/universidad-surcolombiana-v.png"
                    class="img-fluid firma-usco p-3"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mt-1">
                  <div class="row">
                    <div class="col mt-2">
                      <qrcode
                        [qrdata]="codigoQr"
                        [width]="250"
                        colorLight="#ffffff"
                        colorDark="#1E262B"
                        [errorCorrectionLevel]="'M'"
                      ></qrcode>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 p-0 mt-1">
                  <div class="card-block px-3">
                    <div class="row">
                      <div class="col">
                        <h6
                          class="font-usco-default font-weight-bold font-usco-bl pre leyenda-mobile"
                        >
                          {{ politicaAdministrativo[0].descripcion }}
                        </h6>
                      </div>
                    </div>
                    <!-- <div class="row mt-1 mb-2">
                      <div class="col">
                        <img
                          src="{{ firma.url }}"
                          class="img-fluid firma-usco"
                        />
                      </div>
                    </div>
                    <div *ngIf="(rector | json) != '[]'" class="row">
                      <div class="col">
                        <small
                          *ngIf="rector[0].persona.genero == 'M'"
                          class="font-usco-default font-weight-bold text-uppercase"
                        >
                          RECTOR
                        </small>
                        <small
                          *ngIf="rector[0].persona.genero == 'F'"
                          class="font-usco-default font-weight-bold text-uppercase"
                        >
                          RECTORA
                        </small>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
