<mat-toolbar *ngIf="data.mobileType === 'android'" class="android-prompt btn-usco-vt-bl p-2" style="border-radius: 10px;">
  <button mat-button (click)="installPwa()" class="mt-2">
    Añadir como APK al dispositivo <i class="fa-solid fa-download"></i>
  </button>
  <button mat-icon-button (click)="close()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</mat-toolbar>

<div *ngIf="data.mobileType === 'ios'" class="ios-prompt">
  <button class="close-ios-inv" mat-button (click)="close()">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <div>
    Para instalar esta aplicación web en su dispositivo, pulse el botón Menú y,
    a continuación, el botón "Añadir a la pantalla de inicio".
  </div>
  <div class="row">
    <div class="col"><img title="usco" src="assets/menu-ios.png" /></div>
    <div class="col"><i class="fa-solid fa-chevron-right"></i></div>
    <div class="col"><img title="usco" src="assets/add-ios.png" /></div>
  </div>
</div>